$medium-size: 768px;
$small-size: 480px;

@mixin device($size) {
	@if $size == medium {
		@media (max-width: $medium-size) {
			@content;
		}
	} @else if $size == small {
		@media (max-width: $small-size) {
			@content;
		}
	}
}
