@use "../../../../assets/scss/mixins.scss" as mixin;

.intro {
	margin: 3rem auto;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	color: #080808;

	@include mixin.device(medium) {
		font-size: 2rem;
	}
}
