<div class="headerContainer">
	<mat-toolbar class="container">
		<a [routerLink]="['/']">App</a>

		<mat-menu #menu="matMenu">
			<a
				*ngIf="user$ | async as user; else loginButtonMobile"
				mat-menu-item
				[routerLink]="['profile', user.id]"
				>{{ user.name }}</a
			>
			<ng-template #loginButtonMobile>
				<a mat-menu-item [routerLink]="['account/signin']">Login</a>
			</ng-template>

			<a mat-menu-item [routerLink]="['account/signup']">Cadastrar-se</a>
		</mat-menu>

		<div fxLayout="row" fxLayoutGap="24px" fxHide.lt-md>
			<a
				*ngIf="user$ | async as user; else loginButton"
				mat-stroked-button
				color="primary"
				[routerLink]="['profile', user.id]"
				>{{ user.name }}</a
			>
			<ng-template #loginButton>
				<a mat-stroked-button [routerLink]="['account/signin']">Login</a>
			</ng-template>

			<a mat-raised-button color="primary" [routerLink]="['account/signup']"
				>Cadastrar-se</a
			>
		</div>

		<button
			mat-icon-button
			[matMenuTriggerFor]="menu || mobileView"
			fxHide
			fxShow.lt-md
		>
			<mat-icon>more_vert</mat-icon>
		</button>
	</mat-toolbar>
</div>
