<div class="headerContainer">
	<mat-toolbar class="container">
		<a [routerLink]="['/']">App</a>

		<mat-menu #menu="matMenu">
			<a mat-menu-item [routerLink]="['account/signup']">Cadastrar-se</a>
			<a mat-menu-item [routerLink]="['account/signin']">Login</a>
		</mat-menu>

		<div fxLayout="row" fxLayoutGap="24px" fxHide.lt-md>
			<a mat-raised-button [routerLink]="['account/signin']">Login</a>
			<a mat-raised-button color="primary" [routerLink]="['account/signup']"
				>Cadastrar-se</a
			>
		</div>

		<button
			mat-icon-button
			[matMenuTriggerFor]="menu || mobileView"
			fxHide
			fxShow.lt-md
		>
			<mat-icon>more_vert</mat-icon>
		</button>
	</mat-toolbar>
</div>
