section {
	text-align: center;
	padding: 2rem;

	form {
		margin: 1rem 0;

		mat-error {
			margin-bottom: 1rem;
			justify-content: center;
		}
	}

	.buttonWrapper,
	.buttonWrapper button,
	button {
		width: 100%;
	}

	.buttonWrapper {
		margin-bottom: 1rem;
	}
}
