<section class="container backButtonWrapper">
	<a mat-flat-button routerLink="..">Voltar</a>
</section>

<form
	[formGroup]="createProductForm"
	(ngSubmit)="submit()"
	class="form mat-elevation-z1"
>
	<mat-form-field appearance="outline">
		<mat-label>Nome</mat-label>
		<input matInput formControlName="name" type="text" required />
		<mat-error>
			<mat-icon>error_outline</mat-icon>
			Insira um nome
		</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Preço</mat-label>
		<span matPrefix>R$ &nbsp;</span>
		<input matInput formControlName="price" type="number" required min="0" />
		<mat-error>
			<mat-icon>error_outline</mat-icon>
			Insira um preço
		</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Descrição</mat-label>
		<textarea
			matInput
			formControlName="description"
			type="text"
			rows="4"
		></textarea>
		<mat-error>
			<mat-icon>error_outline</mat-icon>
			Insira uma descrição
		</mat-error>
	</mat-form-field>

	<div
		class="buttonWrapper"
		matTooltip="Verifique os campos!"
		[matTooltipDisabled]="!createProductForm.invalid"
		matTooltipPosition="above"
	>
		<app-error
			*ngIf="error$ | async as error"
			[errorMessage]="error"
		></app-error>
		<button
			mat-flat-button
			color="primary"
			[disabled]="createProductForm.invalid || (loading$ | async)"
		>
			{{ (loading$ | async) ? "Carregando..." : "Anunciar produto" }}
		</button>
	</div>
</form>
