<section class="container">
	<ul class="productList">
		<li *ngFor="let product of products" class="productItem">
			<mat-card class="example-card">
				<mat-card-header>
					<mat-card-title
						>{{ product.name }} <br />
						{{ product.price | currencyBr }}</mat-card-title
					>
					<mat-card-subtitle
						>vendido por: {{ product.user.name }}</mat-card-subtitle
					>
				</mat-card-header>
				<mat-card-content>
					<p>{{ product.description }}</p>
				</mat-card-content>
				<mat-card-actions>
					<button
						mat-icon-button
						color="primary"
						aria-label="adicionar ao carrinho"
					>
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
		</li>
	</ul>
</section>
