<section class="container addProductWrapper">
	<button mat-raised-button color="primary" [routerLink]="['create']">
		Anunciar produto
	</button>
</section>

<section *ngIf="products$ | async as products; else empty" class="container">
	<ul class="productList">
		<li *ngFor="let product of products">
			<mat-card>
				<mat-card-header>
					<mat-card-title
						>{{ product.name }} <br />
						{{ product.price | currencyBr }}</mat-card-title
					>
					<mat-card-subtitle
						>Anunciado em:
						{{ product.created_at | date : "dd/MM/yyyy" }}</mat-card-subtitle
					>
				</mat-card-header>
				<mat-card-content>
					<p>{{ product.description }}</p>
				</mat-card-content>
				<mat-card-actions align="end">
					<a
						mat-icon-button
						matTooltip="Editar"
						[routerLink]="['edit', product.id]"
					>
						<mat-icon>edit</mat-icon>
					</a>
					<button
						mat-icon-button
						matTooltip="Deletar"
						(click)="deleteProductConfirmation(product)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
		</li>
	</ul>
</section>

<ng-template #empty>
	<h1>Você não possui anúncios</h1>
</ng-template>

<router-outlet></router-outlet>
