<form
	[formGroup]="profileForm"
	(ngSubmit)="submit()"
	class="form mat-elevation-z1"
	fxLayout="column"
	fxLayoutGap="16px"
>
	<mat-form-field appearance="outline">
		<mat-label>Nome</mat-label>
		<input matInput formControlName="name" type="text" autocomplete="name" />
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Email</mat-label>
		<input
			matInput
			placeholder="exemplo@gmail.com"
			formControlName="email"
			type="email"
			autocomplete="email"
		/>
		<mat-error>
			<mat-icon>error_outline</mat-icon>
			Insira um email válido
		</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Senha</mat-label>
		<button
			mat-icon-button
			matSuffix
			(click)="hidePassword = !hidePassword"
			[attr.aria-label]="'Esconder senha'"
			[attr.aria-pressed]="hidePassword"
			type="button"
		>
			<mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
		</button>
		<input
			matInput
			formControlName="password"
			[type]="hidePassword ? 'password' : 'text'"
			autocomplete="new-password"
		/>
	</mat-form-field>

	<app-error *ngIf="error$ | async as error" [errorMessage]="error"></app-error>

	<button mat-flat-button color="primary" [disabled]="loading$ | async">
		{{ (loading$ | async) ? "Carregando..." : "Atualizar dados" }}
	</button>
	<button mat-stroked-button (click)="logout()">Sair</button>
</form>

<app-danger-zone></app-danger-zone>
